<ion-view title="Smir" Adding cache-view="false" class="mainView">
	<ion-nav-title>Smir</ion-nav-title>
	  <ion-content class="has-header">
	   <div class="list list-inset"></div>
	<!-- Display current location's weather data-->
	  <h3>{{city}}</h3>
	  <h5><weather-icon icon="current.icon" id="current-icon"></weather-icon> {{current.currently.summary}}</h5>
      <p>Current temperature <class="large">{{current.currently.temperature}} °F</p>
      
      <div class="list card">
  		<div class="item item-avatar">
    	<img src="../rain.jpg">
    	<h2>PISHING DOON</h2>
    	<p>To rain heavily</p>
  	  </div>

  	  <div class="item item-body">
    	<img class="full-image" src="../rain.jpg">
    	<p>
	      Totally pishing doon wie rain man.
    	</p>
	  </div>
	</div>
   </ion-content>
</ion-view>

